* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding-bottom: 2em;
    
}

.confia {
    margin: 30px auto;
    max-width: 800px;
    text-align: justify;
}

.confia h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #004d26;
    border-left: 5px solid #004d26;
    padding-left: 10px;
}

.confia img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
p{
    margin: 0 auto;
    max-width: 800px;
    color: black;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
}
.confia p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
}
.destaque{
    color: mediumseagreen;
}
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #004d26;
    color: #fff;
    font-size: 0.9rem;
}
header {
    max-height: 5.5em;
    min-height: 5.5em;
    background-color: seagreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.7em;
    padding: 0 1em;
    position: relative;
}
@media (max-width: 840px) {
    header{
        justify-content: start;
    }
    p{
        margin: 0 1.5em;
    }
    .logo {
        margin-bottom: 1em;
        left: 20%;
        transform: translateX(-20%);
        margin-left: 5em;
    }
    nav {
        position: absolute;
        right: 20%;
        transform: translateX(20%);
    }
    h1{
        margin: 0 8px;
        line-height: 1.2em;
    }
}
@media (max-width: 500px) {
    .confia{
        text-align: start;
    }
    p{
        margin: 0 1.5em;
    }
    a img {
        width: 60px;
    }
    .abas {
        font-size: 15px;
    }
}
@media (max-width: 430px) {
    .logo {
        margin-left: 2em;
    }
}
    @media (max-width: 340px) {
        .confia{
            h1{
                font-size: 1.7em;
            }
        }
        .logo {
            left: 10%;
            transform: translateX(-10%);
        }
        nav {
            position: absolute;
            right: 10%;
            transform: translateX(10%);
        }
        a img {
            width: 50px;
        }
        .abas {
            font-size: 12px;
    }
}